rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /atlas_demo_product_videos/{productId} {
      allow read: if true;
      allow write: if false;
    }
  }
}
